.footer__column-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  transition: opacity .7s ease;
}

.footer__column-link:hover {
  text-decoration: underline;
  opacity: .5;
}
